extends layout

block content
    header.w3-container.w3-teal
        h3 Erro
    .w3-container.w3-card-4
        p= e
    footer.w3-container.w3-teal
        address Gerado por FileUploader
            a(style='float:right' href='/') Voltar à página principal